
.page.theme_light {
  --bg-color: #353430;
  --border-color: rgba(50, 49, 45, 0.4);
  --background-color: #FFF1F7;
  --main-text-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --title-color: #ffc2e6;
  --title-shadow: #ff0070;
  --title-decor:#ff8dcb;
  --article-title-color: #353430;
  --article-title-bg: #ff8dcb;
  --section-title-color: var(--main-text-color);
}

.page.theme_light .decorative-rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #353430;
    --border-color: rgba(50, 49, 45, 0.4);
    --background-color: #FFF1F7;
    --main-text-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --title-color: #ffc2e6;
    --title-shadow: #ff0070;
    --title-decor:#ff8dcb;
    --article-title-color: #353430;
    --article-title-bg: #ff8dcb;
    --section-title-color: var(--main-text-color);
  }
}
