/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-text-color);
  padding: 10px;
  font-size: 18px;
  line-height: 130%;
  font-family: var(--font-family), sans-serif;
  
}
.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows:  auto max-content auto;
  
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
  border-right: 1px solid var(--title-decor);
  border-top: 1px solid var(--title-decor);
  inline-size: 25px;
  block-size: 24px;
}
.decorated-zone::after {
  content: "";
  position: absolute;
  inset-block-end: 20px;
  border-left: 1px solid var(--title-decor);
  border-bottom: 1px solid var(--title-decor);
  inline-size: 25px;
  block-size: 24px;

}

.decorative-rec {
  position: absolute;
  top: 0px;
  right: 28px;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: end;
  color: var(--title-decor);
  
}

.decorative-rec::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 100%;
  background-color: var(--title-decor);
  box-shadow: 0 0 4px 2px var(--title-decor);
}


.header__theme-menu {
justify-self: end;
margin-block-start: 65px;

}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding: 2px 13px;
  border: none;
  color: var(--title-decor);
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--title-decor);
  pointer-events: none;
}

.header__title-container {
  display: flex;
  flex-direction: column;
  gap: 55px;
  margin-block-end: 10px;
  
  

}

.header__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0  var(--title-decor);
  
}

.header__subtitle {
font-weight: 700;
font-size: 18px;
line-height: 130%;

}



.title-decor {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--bg-color);
  background-color: var(--title-decor);
}

.section {
  margin-block-end: 50px;


}


.section__title {
  color: var(--title-decor);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  margin-block-start: 30px;
  padding-block-end: 20px;
}

.section__article-title {
margin-block-end: 10px;
}
.section__images .section__article-title {
  margin-block-end: 0px;

}


.section__article-title-list {
  font-weight: 400;
  margin-block: 20px 10px;
}

.section__article-text {

}



.section__article-item {
  margin-block-end: 20px;
  
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0  var(--title-decor) ;
  border-block-end: 1px solid var(--main-text-color);
}

.section__images {
  display: flex;
  flex-direction: column;
  gap: 10px;


}

.images {
  inline-size: 100%;
  
}

.footer {
  margin-block-start: 50px;
  position: relative;
  
  



}

.footer__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 2px 2px 0  var(--title-decor);
  padding-block: 278px 295px;
  margin-inline-start: 4px;
  

  
}