/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-text-color);
  padding: 10px;
  font-size: 18px;
  line-height: 130%;
  font-family: var(--font-family), sans-serif;
  
}
.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: center;
  
  

}

.header__theme-menu {
justify-self: end;
margin-block-start: 28px;

}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding: 0px 13px;
  border: none;
  color: var(--title-decor);
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--title-decor);
  pointer-events: none;
}

.header__title-container {
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding-block-start: 36px;

}

.header__title {
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0  var(--title-decor);
  
}

.header__subtitle {
font-weight: 700;
font-size: 18px;
line-height: 130%;

}



.title-decor {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--bg-color);
  background-color: var(--title-decor);
}

.section__title {
  color: var(--title-decor);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  margin-block-start: 30px;
  padding-block-end: 20px;
}

.section__article-title {
margin-block-end: 10px;
}

.section__article-text {

}

.text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0  var(--title-decor) ;
  border-block-end: 1px solid var(--main-text-color);
}