
:root {
  --font-family: "IBM Plex Mono";
  --bg-color: #000028;
  --background-color: #000028;
  --main-text-color: #f1b2ce;
  --background-image: url(../images/cover-image-dark.png);
  --title-color: #db00ff;
  --title-decor: #ff0070;
  --title-shadow: #ff0070;
  --article-title-color: #ff0070;
  --article-title-bg: var(--title-shadow);
  --section-title-color: #db00ff;
  
 


}